@typeparam TModel where TModel : class, IOrigin, IInnerProxy
@typeparam TValidator where TValidator : class, IValidator<IViewData<TModel>>

@implements IDialogContentComponent<IViewData<TModel>>
@implements IView
@inject IMessageService MessageService

<div>
    <FluentStack>
        <GenericForm  TValidator="TValidator" Data="@Content" TModel="TModel" ></GenericForm>
    </FluentStack>
</div>

@code 
{
    [Parameter]
    public IViewData<TModel> Content { get; set; } = default!;

    protected override void OnInitialized()
    {       
        base.OnInitialized();
    }

    public void RenderView()
    {
        this.StateHasChanged();
    }

}