@using Undersoft.SDK.Service
@using Undersoft.SDK.Service.Data.Event
@using Undersoft.SSC.Service.Contracts

@inject IServicer _servicer

<div role="button" @onclick="@OpenAccountPanelAsync">
<FluentPersona Initials="?" ImageSize="35px" StatusSize="PresenceBadgeSize.Tiny" >
</FluentPersona>
</div>

@code {

    private IViewPanel<Account> _panel = default!;

    protected override void OnInitialized()
    {
        _panel = _servicer.Initialize<ViewPanel<GenericAccountPanel<Account, GenericAccountPanelValidator>, Account>>();
    }

    private async Task OpenAccountPanelAsync(MouseEventArgs args)
    {
        await _panel.Show(new ViewData<Account>(), (p) =>
           {
               p.Alignment = HorizontalAlignment.Right;
               p.Title = $"Account";
               p.PrimaryAction = "Save";               
               p.SecondaryAction = "Cancel";
               p.ShowDismiss = true;
           });

        HandlePanel(_panel.Content);
    }

    private void HandlePanel(IViewData<Account>? result)
    {

    }
}