@using System.Text
@using Undersoft.SDK.Service
@using Undersoft.SDK.Service.Access
@using Undersoft.SDK.Service.Data.Event

@inherits ViewItem<TAccount>

@typeparam TAccount where TAccount : class, IOrigin, IInnerProxy
@typeparam TModel where TModel : class, IOrigin, IInnerProxy, IAuthorization
@typeparam TValidator where TValidator : class, IValidator<IViewData<TModel>>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Right" HorizontalGap="5">
    <div id="account-top-menu" role="button">
        <FluentPersona Initials="@_initials" Image="@_image" ImageSize="35px">
        </FluentPersona>
    </div>

    <div>
        <GenericAccountMenu TModel="TModel" TValidator="TValidator" Position="HorizontalPosition.Left" Rubric="Data.Rubrics[0]" AnchorId="account-top-menu" Data="@(Data[0])" Anchored="true" Style="@("margin-top:8px;")" />
    </div>
</FluentStack>
@code {
    [Inject]
    private IAuthorization _authorization { get; set; } = default!;

    [Inject]
    private AccessProvider<TModel> access { get; set; } = default!;

    private string? _initials = null;

    private string? _image = null;

    protected override void OnInitialized()
    {
        if (_authorization.Credentials.Image != null && _authorization.Credentials.ImageData != null)
        {
            _image = $"{_authorization.Credentials.Image.Split(";")[0]};base64, {Convert.ToBase64String(_authorization.Credentials.ImageData)}";
        }
        else
        {
            _initials = "";
            if (!string.IsNullOrEmpty(_authorization.Credentials.FirstName))
                _initials += _authorization.Credentials.FirstName.First().ToString();
            if (!string.IsNullOrEmpty(_authorization.Credentials.LastName))
                _initials += _authorization.Credentials.LastName.First().ToString();
            if (string.IsNullOrEmpty(_initials))
                _initials = "?";
        }

    }

    protected override void OnParametersSet()
    {                    
        if (Data == null)
            Data = new ViewData<TAccount>(typeof(TAccount).New<TAccount>());

        Data.MapRubrics();
        Data.Rubrics.ForEach(r =>
            {
                Model.Proxy[r.RubricId] = r.RubricType.New();
                if (r.DisplayName == null)
                    r.DisplayName = r.RubricName;

            });


        Data.Put(Data.Rubrics.ForEach(r => typeof(ViewData<>).MakeGenericType(r.RubricType).New<IViewData>(Model.Proxy[r.RubricId])));

        base.OnParametersSet();
    }
}