@using Microsoft.AspNetCore.Authorization

@page "/"

@inject NavigationManager _navigation

@attribute [Authorize]

<PageTitle>Undersoft</PageTitle>

<FluentStack Orientation="Orientation.Horizontal">
    <h1>Welcome in Undersoft! - Founded by unicorn software developer, Dariusz Hanc - Fullstack research and development of top performance solutions that gave long term advantage in short time of delivery !</h1>
    <FluentSpacer />
    <h2><AccessStateButton /></h2>
</FluentStack>

@code
{
    protected override void OnInitialized()
    {
        _navigation.NavigateTo("/landing");
    }
}