@page "/"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Undersoft</PageTitle>

<FluentStack Orientation="Orientation.Horizontal">
<h1>Shared Service Center!</h1> 
<FluentSpacer/>
<h2><AccessStateButton/></h2>
</FluentStack>