@inherits GenericLayout

<PageTitle>Servitizone Admin</PageTitle>

<FluentLayout>

    <FluentHeader>
       
        <a href="/">
            <img src="img/logo.png" />
        </a>
      
        <FluentSpacer />
     
        <div class="links">
            <FluentAnchor Appearance="Appearance.Lightweight"
                          Href="http://github.com/undersoft-org/undersoft" Target="_blank" Rel="noreferrer noopener"
                          title="Shared Service Center source on GitHub" aria-label="SSC Repo">
                <FluentIcon Value="@(new Addons.Size20.GitHub())" Color="Color.FillInverse" />
            </FluentAnchor>
        </div>

        <div class="notifications">
            <GenericNotificationPanelButton />
        </div>

        <div class="settings">
            <GenericAppearancePanelButton />
        </div>
       
        <div class="person">
            <GenericAccountPanelButton />
        </div>

    </FluentHeader>

    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
      
        <AdminNavMenu />
    
        <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
        
            <div class="content">

                <article id="article">

                    <FluentMessageBarProvider Section="@ViewSection.TOP" />

                    @Body

                </article>

                <aside>

                </aside>

                <FluentToastProvider MaxToastCount="10" />
                <FluentDialogProvider />
                <FluentTooltipProvider />

            </div>

        </FluentBodyContent>

    </FluentStack>

    <FluentFooter>

    </FluentFooter>
</FluentLayout>