@namespace Undersoft.SDK.Service.Application.Components
@inherits PresenterComponent

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <label class="legend">@Title</label>
    @ChildContent
</div>
