@using Undersoft.SDK.Service.Access
@inherits FluentComponentBase

@typeparam TMenu where TMenu : class, IOrigin, IInnerProxy
@typeparam TAccount where TAccount : class, IOrigin, IInnerProxy
@typeparam TModel where TModel : class, IOrigin, IInnerProxy, IAuthorization
@typeparam TValidator where TValidator : class, IValidator<IViewData<TModel>>

<FluentHeader class="siteheader" Height="50">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Width="100%">
        <a href="" style="margin-left:-10px;">
            <FluentIcon Value="@(new ViewGraphic.Logo.ColorHorizontal130x40())" Color="Color.FillInverse" />
        </a>
        <FluentSpacer />
        <div class="top-bar-tools">
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="15">
                <GenericMenuSet TMenu="TMenu" />
                <div class="github">
                    <FluentAnchor Appearance="Appearance.Hypertext" Href="http://github.com/undersoft-org/undersoft" Target="_blank" Rel="noreferrer noopener" title="Undersoft source on GitHub" aria-label="SSC Repository">
                        <div style="line-height:2;">
                            <FluentIcon Value="@(new ViewGraphic.Size20.GitHub())" Width="18" Color="Color.FillInverse" />
                        </div>
                    </FluentAnchor>
                </div>
                <div class="notification">
                    <GenericNotificationPanelButton />
                </div>
                <div class="appearance">
                    <GenericAppearancePanelButton />
                </div>
                <div class="account" style="margin-right:-15px;">
                    <GenericAccountMenuPersona TAccount="TAccount" TModel="TModel" TValidator="TValidator" />
                </div>
            </FluentStack>
        </div>

    </FluentStack>
</FluentHeader>

@code
{
    [Inject]
    private AppearanceState appearance { get; set; } = default!;
}