@using System.ComponentModel.DataAnnotations
@using FluentValidation
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK
@using Undersoft.SDK.Invoking

@inherits ViewItem<TModel>

@typeparam TModel where TModel : class, IOrigin, IInnerProxy
@typeparam TValidator where TValidator : class, IValidator<IViewData<TModel>>

<div class="generics generic-form-set forms">
    <CascadingValue Value="@FormContext">
        <CascadingValue Value="@Content">
            <EditForm EditContext="@FormContext" FormName="generic_form" @ref="@Reference">
                <GenericValidator TValidator="TValidator" TModel="TModel" />
                @ChildContent
            </EditForm>
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    private IViewRubrics _rubrics => Data.Rubrics;

    protected override void OnInitialized()
    {
        Data.ViewItem = this;
        if (FormContext == null)
        {
            FormContext = new EditContext(Data);
            FormContext.OnFieldChanged += FieldChanged;
        }
    }

    [Parameter]
    public EditContext? FormContext { get; set; } = default!;

    private void FieldChanged(object? sender, FieldChangedEventArgs args)
    {
        if (OnFieldChanged != null)
            OnFieldChanged(sender, args);
    }

    public event EventHandler<FieldChangedEventArgs>? OnFieldChanged;
}

