@using System.ComponentModel.DataAnnotations
@using FluentValidation
@using Undersoft.SDK.Proxies
@using Undersoft.SDK.Rubrics
@using Undersoft.SDK
@using Undersoft.SDK.Invoking

@typeparam TModel where TModel : class, IOrigin, IInnerProxy
@typeparam TValidator where TValidator : class, IValidator<IViewData<TModel>>

<div class="generics generic-form forms">
    <CascadingValue Value="@FormContext">
        <EditForm EditContext="@FormContext" FormName="generic_form">
            <CascadingValue Value="@Data">
                <GenericValidator TValidator="TValidator" TModel="TModel" />
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" VerticalGap="3">
                    @foreach (var _rubric in _rubrics)
                    {
                        <GenericField TModel="TModel" Rubric="@_rubric" />
                    }                    
                </FluentStack>
            </CascadingValue>
        </EditForm>
    </CascadingValue>
</div>

@code {
    private IViewRubrics _rubrics => Data.Rubrics;

    protected override void OnInitialized()
    {
        FormContext = new EditContext(Data);
        FormContext.OnFieldChanged += FieldChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        var _firstRubric = _rubrics.FirstOrDefault();
        if (_firstRubric != null)
        {
            var reference = _firstRubric.View.Reference;
            if(reference != null)
            {
                ((FluentComponentBase)reference).Element.FocusAsync();
            }
        }
   
        base.OnAfterRender(firstRender);      
    }

    public EditContext FormContext { get; set; } = default!;

    [Parameter]
    public IViewData<TModel> Data { get; set; } = default!;

    private void FieldChanged(object? sender, FieldChangedEventArgs args)
    {
        if (OnFieldChanged != null)
            OnFieldChanged(sender, args);
    }

    public event EventHandler<FieldChangedEventArgs>? OnFieldChanged;
}

