@    using Undersoft.SDK.Service
@    using Undersoft.SDK.Service.Data.Event
@    using Undersoft.SSC.Service.Contracts

@inject IServicer _servicer
@inject IMessageService MessageService

<a @onclick="@OpenAccountPanelAsync">
<FluentPersona Initials="SU" ImageSize="40px">
</FluentPersona>
</a>

@code {

    private IViewPanel<Account> _panel = default!;

    protected override void OnInitialized()
    {
        _panel = _servicer.Initialize<ViewPanel<GenericAccountPanel<Account>, Account>>();
    }

    private async Task OpenAccountPanelAsync(MouseEventArgs args)
    {
        await _panel.Show((p) =>
           {
               p.Alignment = HorizontalAlignment.Right;
               p.Title = $"Profile";
               p.PrimaryAction = "Ok";
               p.SecondaryAction = null;
               p.ShowDismiss = true;
           });

        HandlePanel(_panel.Content);
    }

    private void HandlePanel(IViewData<Account>? result)
    {

    }
}