@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Instant.Proxies
@using Undersoft.SDK.Instant.Rubrics
@using Undersoft.SDK

@typeparam TModel where TModel : class, IOrigin, IInnerProxy
@typeparam TValidator where TValidator : class, IValidator<IGenericData<TModel>>

<div>
    <!-- Body -->
    <FluentDialogBody>

        <!-- Auto Form -->
        <GenericForm TValidator="TValidator" TModel="@TModel" Content="@Content" />

    </FluentDialogBody>
</div>

@code
{
    [CascadingParameter]
    public IGenericData<TModel> Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;
}