@using System.ComponentModel.DataAnnotations
@using Undersoft.SDK.Instant.Proxies
@using Undersoft.SDK.Instant.Rubrics
@using Undersoft.SDK

@inherits ComponentBase
@implements IIdentifiable
@implements IViewItem
@typeparam TModel where TModel : class, IOrigin, IInnerProxy
@typeparam TMenu where TMenu : class, IOrigin, IInnerProxy

<div>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
        
    </FluentStack>
</div>
<FluentStack Orientation="Orientation.Vertical" VerticalGap="0" HorizontalAlignment="HorizontalAlignment.Center">
    @foreach (var error in Rubric.Errors)
    {
        <FluentLabel Typo="Typography.Body" Color="Color.Error">
            @error
        </FluentLabel>
    }
</FluentStack>


