@inherits FluentComponentBase

<FluentFooter Style="@("height: 40px; color: white;")">
    <div class="version">
        <small>
            Version: @AppearanceState?.Version
            &nbsp;-&nbsp;
            Author: Dariusz Hanc - undersoft@undersoft.pl
        </small>
    </div>
    <FluentSpacer />
    <div class="copy">
        <small>Undersoft © 2024. All rights reserved  </small>
    </div>
</FluentFooter>