@inherits GenericLayout

<FluentFooter Style="@("height: 40px; color: white;")">
    <div class="version">
        <small>
            Version: @_version
            &nbsp;-&nbsp;        
            Author: Dariusz Hanc - dh@undersoft.org
        </small>
    </div>
    <FluentSpacer />

    <div class="copy">
        <small>Undersoft © 2024. All rights reserved  </small>
    </div>
</FluentFooter>