@inherits FluentComponentBase

<div>
    @if (ShowBackButton)
    {
        <FluentButton Appearance=Appearance.Accent @onclick="BackToTopAsync" Id="backtotop" title="Go to top of page">Go top</FluentButton>
    }
</div>
